/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


#titulo {
    color: aqua;
}

#item{
    border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}

#lluvia {
    background-image: url("../src/assets/img/lluvia.jpg");
}

ion-content.cieloClaro{
    --background: url(../src/assets/img/cieloClaro.jpg) 0 0/100% 100% no-repeat;
}
ion-content.nubes{
    --background: url(../src/assets/img/nubes.jpg) 0 0/100% 100% no-repeat;
}
ion-content.algoDeNubes{
    --background: url(../src/assets/img/algoDeNubes.jpg) 0 0/100% 100% no-repeat;
}
ion-content.nubesDispersas{
    --background: url(../src/assets/img/nubesDispersas.jpg) 0 0/100% 100% no-repeat;
}
ion-content.muyNuboso{
    --background: url(../src/assets/img/muyNuboso.jpg) 0 0/100% 100% no-repeat;
}
ion-content.lluviaLigera{
    --background: url(../src/assets/img/lluvia.jpg) 0 0/100% 100% no-repeat;
}
ion-content.lluviaIntensa{
    --background: url(../src/assets/img/lluviaIntensa.jpg) 0 0/100% 100% no-repeat;
}
ion-content.lluviaModerada{
    --background: url(../src/assets/img/lluviaModerada.jpg) 0 0/100% 100% no-repeat;
}
ion-content.nevadaLigera{
    --background: url(../src/assets/img/nevadaLigera.jpg) 0 0/100% 100% no-repeat;
}